{% extends "common.layout.html" %}

<!--
# -*- mode: html; coding: utf-8 -*-
# (c) Valik mailto:vasnake@gmail.com
-->

{% block sidemenu %}
	<li class="active"><a href="{{ url_for('mainPage') }}">MFS endpoint</a></li>
	<li><a href="{{ url_for('helpPage') }}">Справка</a></li>
{% endblock %}

{% block mainblockspan9 %}
	<h2>Сведения о таблице в БД</h2>
	<p>extent</p>
		<textarea class="span9" wrap="off" cols="80" rows="11" name="extent">{{ extent }}</textarea>
	<p>fields, objectIdField</p>
		<textarea class="span9" wrap="off" cols="80" rows="11" name="fields">{{ fields }}</textarea>
{% endblock %}


{% block extrascripts %}
<script type="text/javascript">
</script>
{% endblock %}
