{% extends "common.layout.html" %}

<!--
# -*- mode: html; coding: utf-8 -*-
# (c) Valik mailto:vasnake@gmail.com
-->

{% block sidemenu %}
    <li class="active"><a href="{{ url_for('mainPage') }}">MFS endpoint</a></li>
    <li><a href="{{ url_for('helpPage') }}">Справка</a></li>
{% endblock %}

{% block mainblockspan9 %}
    <h2>Map Feature Server (mapfeatureserver) endpoint</h2>
    <p>
        Список обслуживаемых страниц и слоев MFS, генерируется автоматически по данным конфигурации.
        В запросе данных слоев использованы параметры запросов, значения этих параметров заданы произвольно и только в целях
        демонстрации.
    </p>
    <ul>
        {% for x in lst %}
            <!-- li> <a href="{{ x[0] }}">{{ x[1]|default(x[0]) }}</a> </li -->
            {% if not x[1] == '' %}
                <li> <a href="{{ x[0] }}">{{ x[1] }}</a> </li>
            {% else %}
                <li> <a href="{{ x[0] }}">{{ x[0] }}</a> </li>
            {% endif %}
        {% endfor %}
    </ul>
    <p>Тестовые примеры урлов службы, отладка характерных комбинаций параметров.</p>
    <ul>
    {% raw %}
        <li><a href="0?f=pjson">метаданные слоя 0</a>,
            <a href="http://vags101.algis.com/arcgis/rest/services/flyzone/FeatureServer/0?f=pjson">эталон</a></li>
        <li><a href="1?f=pjson">метаданные слоя 1</a>,
            <a href="http://vags101.algis.com/arcgis/rest/services/flyzone/FeatureServer/1?f=pjson">эталон</a></li>
        <li><a href="2?f=pjson">метаданные слоя 2</a>,
            <a href="http://vags101.algis.com/arcgis/rest/services/flyzone/FeatureServer/2?f=pjson">эталон</a></li>

        <!-- li><a href="0/query?returnGeometry=true&geometryType=esriGeometryEnvelope
&geometry={"xmin":-7182265.21424325,"ymin":-1567516.84684806,"xmax":17864620.2142433,"ymax":14321601.0968481,
"spatialReference":{"wkid":102100}}
&inSR=102100
&spatialRel=esriSpatialRelIntersects
&outSR=102100
&outFields=*
&f=pjson">
        выборка фичей слоя</a></li -->

        <li><a href="0/query?returnGeometry=true&geometryType=esriGeometryEnvelope&geometry={%22xmin%22%3a-7182265.21424325%2c%22ymin%22%3a-1567516.84684806%2c%22xmax%22%3a17864620.2142433%2c%22ymax%22%3a14321601.0968481%2c%22spatialReference%22%3a{%22wkid%22%3a102100}}&inSR=102100&spatialRel=esriSpatialRelIntersects&outSR=102100&outFields=*&f=pjson">
            выборка фичей слоя 0</a>,
            <a href="http://vags101.algis.com/arcgis/rest/services/flyzone/FeatureServer/0/query?returnGeometry=true&geometryType=esriGeometryEnvelope&geometry={%22xmin%22%3a-7182265.21424325%2c%22ymin%22%3a-1567516.84684806%2c%22xmax%22%3a17864620.2142433%2c%22ymax%22%3a14321601.0968481%2c%22spatialReference%22%3a{%22wkid%22%3a102100}}&inSR=102100&spatialRel=esriSpatialRelIntersects&outSR=102100&outFields=*&f=pjson">
            эталон</a> </li>
        <li><a href="1/query?returnGeometry=true&geometryType=esriGeometryEnvelope&geometry=%7b%22xmin%22%3a6593024.93074047%2c%22ymin%22%3a10538006.415246%2c%22xmax%22%3a6641944.62884298%2c%22ymax%22%3a10569039.8487298%2c%22spatialReference%22%3a%7b%22wkid%22%3a102100%7d%7d&inSR=102100&spatialRel=esriSpatialRelIntersects&outSR=102100&outFields=*&f=pjson">
            выборка фичей слоя 1</a>,
            <a href="http://vags101.algis.com/arcgis/rest/services/flyzone/FeatureServer/1/query?returnGeometry=true&geometryType=esriGeometryEnvelope&geometry=%7b%22xmin%22%3a6593024.93074047%2c%22ymin%22%3a10538006.415246%2c%22xmax%22%3a6641944.62884298%2c%22ymax%22%3a10569039.8487298%2c%22spatialReference%22%3a%7b%22wkid%22%3a102100%7d%7d&inSR=102100&spatialRel=esriSpatialRelIntersects&outSR=102100&outFields=*&f=pjson">
            эталон</a> </li>
        <li><a href="1/query?returnGeometry=true&geometryType=esriGeometryEnvelope&geometry={%22xmin%22%3a-7182265.21424325%2c%22ymin%22%3a-1567516.84684806%2c%22xmax%22%3a17864620.2142433%2c%22ymax%22%3a14321601.0968481%2c%22spatialReference%22%3a{%22wkid%22%3a102100}}&inSR=102100&spatialRel=esriSpatialRelIntersects&outSR=102100&outFields=*&f=pjson">
            фичей более 1000</a>,
            <a href="http://vags101.algis.com/arcgis/rest/services/flyzone/FeatureServer/1/query?returnGeometry=true&geometryType=esriGeometryEnvelope&geometry={%22xmin%22%3a-7182265.21424325%2c%22ymin%22%3a-1567516.84684806%2c%22xmax%22%3a17864620.2142433%2c%22ymax%22%3a14321601.0968481%2c%22spatialReference%22%3a{%22wkid%22%3a102100}}&inSR=102100&spatialRel=esriSpatialRelIntersects&outSR=102100&outFields=*&f=pjson">
            эталон</a> </li>
        <li><a href="1/query?returnGeometry=true&geometryType=esriGeometryEnvelope&geometry={%22xmin%22%3A3907314.1268439%2C%22ymin%22%3A6927697.68990079%2C%22xmax%22%3A3996369.71947852%2C%22ymax%22%3A7001516.67745022%2C%22spatialReference%22%3A{%22wkid%22%3A102100}}&inSR=102100&spatialRel=esriSpatialRelIntersects&outSR=102100&outFields=*&f=pjson">
            фичей нет</a>,
            <a href="http://vags101.algis.com/arcgis/rest/services/flyzone/FeatureServer/1/query?returnGeometry=true&geometryType=esriGeometryEnvelope&geometry={%22xmin%22%3A3907314.1268439%2C%22ymin%22%3A6927697.68990079%2C%22xmax%22%3A3996369.71947852%2C%22ymax%22%3A7001516.67745022%2C%22spatialReference%22%3A{%22wkid%22%3A102100}}&inSR=102100&spatialRel=esriSpatialRelIntersects&outSR=102100&outFields=*&f=pjson">
            эталон</a> </li>
        <li><a href="2/query?returnGeometry=true&geometryType=esriGeometryEnvelope&geometry=%7b%22xmin%22%3a4103424.83887823%2c%22ymin%22%3a7491699.58654681%2c%22xmax%22%3a4494782.42369833%2c%22ymax%22%3a7726819.88555201%2c%22spatialReference%22%3a%7b%22wkid%22%3a102100%7d%7d&inSR=102100&spatialRel=esriSpatialRelIntersects&outSR=102100&outFields=*&f=pjson">
            выборка фичей слоя 2</a>,
            <a href="http://vags101.algis.com/arcgis/rest/services/flyzone/FeatureServer/2/query?returnGeometry=true&geometryType=esriGeometryEnvelope&geometry=%7b%22xmin%22%3a4103424.83887823%2c%22ymin%22%3a7491699.58654681%2c%22xmax%22%3a4494782.42369833%2c%22ymax%22%3a7726819.88555201%2c%22spatialReference%22%3a%7b%22wkid%22%3a102100%7d%7d&inSR=102100&spatialRel=esriSpatialRelIntersects&outSR=102100&outFields=*&f=pjson">
            эталон</a> </li>
        <li><a href="admin/dsn/patching?oidfield=gid&geomfield=geog">сведения о таблице в БД</a></li>
        <li><a href="static/asfalt.png">символ асфальта</a></li>
        <li><a href="static/beton.png">символ бетона</a></li>
        <li><a href="static/sheben.png">символ щебня</a></li>
    {% endraw %}
    </ul>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
</script>
{% endblock %}
