#~ httpd.conf
#~ WSGIScriptAlias "/mapfeatureserver" "c:/Inetpub/wwwroot/mapfeatureserver/wsgi/mapfs.wsgi"
#~ http://code.google.com/p/modwsgi/wiki/ConfigurationGuidelines
#~ http://flask.pocoo.org/docs/deploying/mod_wsgi/#configuring-apache

Options None
Order allow,deny
Allow from all

RewriteEngine Off

#AddHandler mod_python .py
RemoveHandler .py
<FilesMatch "\.(pyo|pyc|py|html|log)$">
	SetHandler None
	Order deny,allow
	Deny from all
</FilesMatch>

# 10 mbyte http://code.google.com/p/modwsgi/wiki/ConfigurationGuidelines#Limiting_Request_Content
LimitRequestBody 10485760

AddDefaultCharset utf-8
WSGIScriptReloading On
SetEnv map.fs.mailhost mail.algis.com
